*{
    background-color: #B9BFFF;
}

.titleDiv{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 3rem;
    color: white;
    
}

#title{
    padding: 2rem;
    color:  rgb(102, 95, 189);;
}

.boardGame{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    row-gap: none;
    font-size: 2rem;
    justify-content: center;
    
}

.markers{
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#m1, #m2, #m3{
    border-top: none;
}

#m1, #m4, #m7{
    border-left: none;
}

#m7, #m8, #m9{
    border-bottom: none;
}

#m3, #m6, #m9{
    border-right: none;
}

.boardGame{
    margin-bottom: 5rem;
}

.controls, .buttons{
    display: flex;
    height: 3rem;
    justify-content: center;
}

.controls{
    padding: 20px;
    column-gap: 20px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    column-gap: 70px;
    margin-bottom: 200px;
}

#startBtn, #restartBtn{
    background-color: rgb(137, 132, 211);
    color: rgb(255, 255, 255);
    border: solid;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    border-radius:  10px;
    padding: 15px;
}

#startBtn:hover, #restartBtn:hover{
    background-color: rgb(34, 70, 148);
}

#player1, #player2{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}